body{
    background-image: url(https://png.pngtree.com/background/20211215/original/pngtree-yellow-green-pigeon-indian-independence-day-background-picture-image_1456726.jpg);
    color: #e20909;
    font-style: italic;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    margin: 100px auto;
    /* padding: 25px 50px; */
}

#block{
    background-color: rgba(177, 86, 25, 0.452);
    margin: 200px 100px;
    border: 5px solid rgb(49, 21, 207);

} 